@media screen and (min-width: 500px) {
        .resources__title{
          font-size:20px;
        }
        .snippet__thumbnail{
          width:25%;
        }
        h5{
         font-size: 15px; 
         }
        .snippet{
          font-size: 14px;
        }

          .news__title{
            font-size:16.5px;
          }


          .hero{
            height:300px;
          }

          .hero article{
            height:40%;
          }


          .top-news__item{
            font-size: 16px;
          }
          .header__inner{
            text-align: left;
          }

          .header__logo {
            height: 80px;

            vertical-align: top;

            margin: 6px;
            margin-left: auto;
            margin-right: auto;

            
        
          }        
    
         .header__title {
            height: 60px;
            margin: 15px;
            margin-right: auto;
            margin-left: .5em;
            
            }
            .header__inner {
            width: 100%;
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;}

            h2{
              font-size: 17px;
            }
            h3{

              font-size: 16px;
            }
            .portrait {
             height: 200px;


            }
          
        }
      @media screen and (min-width: 900px){
         .resources__title{
          font-size:24px;
        }
        /.header{
        /  background-image: url("./images/beach top2.jpg");
        /}
         / h2{
         / font-size: 20px;  
        /  }
        main{
          width:99%;
        }
        h5{
         font-size: 16px; 
         }
        .snippet{
          font-size: 15px;
        }
        .snippet__thumbnail{
          width:40%;
        }

          .top-news__item{
            font-size: 16.5px;
          }

          .news__title{
            font-size:17px;
            font-weight:500;
          }
          .aphorism{
            width:50%;
          }

          .hero{
            
            height:350px;


          }
          .intro{
            width:50%;
          }
          .top-news{
            
            height:350px;
          }
          .profile{
            margin-top: 30px;
            order:0;
          }
          .profile__pic{
            order:1;
          }
          .goood__news__header{
            order:2;
          }
          .news__items{
            order:3;
          }
          footer{
            order:4;
          }

        .header__inner {
          width: 100%;
          max-width: 100%;
          
          margin-left: 0;
          margin-right: 0;
          }
          .header__title{
            display:none;
          }
          
          .header__title__two {
          /  margin-left: 1em;
            height: 70px;
            margin-top: 20px;
            margin-left: 2%;
            
          
           /margin-left:auto;
           /margin-right: auto;
            display: inline;}

          .header__signature{
          height:100px;
            margin:10px;
            margin-left: 0px;
            margin-right:20px;
          display:inline;
        } 

          .header__logo{
            height:100px;
            margin:10px;
            margin-right: 0px;
           
          
          
          
         }
         .portrait{
            height: 250px;
         }
         .small__items{
          display:none;
         }
         .news__items{
             width:100%;
              display: flex;
                flex-wrap: wrap;
               clear: both;
              padding: 1.6em;
          } 
         .snippet{
            width:48%;
            padding:0 1em;
         }
         .video-container{
            display: none;
          }
          .video-large{
            display:inline-block;
          }

          
          
         / .snippet__title{
         /  width:25%;
         /  display:inline-block;
         / }
          /.news recent-news{
           / width:100%;
          /}
          .mid__banner{
             
             margin:  2% 0;
            
  
            }
      }

      @media screen and (min-width: 1000px){
         main{
          width:95%;
        }
        .top-news__item{
            font-size: 17px;
          }
         .news__title{
            font-size:18px;
            
          }  
      }

       @media screen and (min-width: 1110px){

         h2{
              font-size: 19px;}
          
            h3{

              font-size: 17px;
            }
          .news__title{
            font-size:20px;
            
          }

         .top-news__item{
            font-size: 18px;
          }
          
        
        .header__inner{
          max-width: 1560px;
          margin-left:auto;
          margin-right: auto;
           / display: block
        }
        

       / .header__title{
       /     margin-left: 0px;
       /     
       /     height: 80px;
        /    margin-top: 20px;}
                
       }
